{% paginate collection.products by 6 %}
  <h1>{{ collection.title }}</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in collection.products %}
      {% render 'product-card', product: product %}
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {{ paginate | default_pagination }}
  {% endif %}
{% endpaginate %}
