{% section 'news-carousel' %}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for product in collections.frontpage.products limit:3 %}
    {% render 'product-card', product: product %}
  {% endfor %}
</div>
